<div class="jumbotron">
    <h1 class="text-center">Backend API Application</h1>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <p>This is a backend application</p>
    </div>
</div>
